/* Desktop breakpoint overrides */
@media (min-width: 1024px) {
    /* .logo-link {
        display: inline-block;
    } */

    .link-name {
        display: inline;
    }

    .jobs-container {
        flex-direction: row;
        align-items: start;
        gap: 1em;
    }

    /* Example: project grid on desktop */
    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    }
}